.marketing {
	a {
		&:link, &:active, &:visited {
			color: $brand-warning;
			@include transition(color .7s ease, font-size .9s ease);
		}
		&:hover {
			color: $link-color;
			font-size: 2.5rem;
		}
	}
    h4 {
        color: $brand-warning;
    }
    p {
        color: $brand-primary;
    }
}

.container .jumbotron {
	@include border-top-radius(20px);
	@include border-bottom-radius(20px);
}